{% extends "index.html" %}
{% load staticfiles %}
{% block body %}


<div class="card mb-3 jumbotron container" style="max-width: 810px;margin-top:100px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{% static 'saurabh.jpg' %}" class="card-img" alt="Not Available">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Saurabh Singh</h5>
        <p class="card-text">I am student of B.Tech in IET Lucknow. I am a competative programmer and Django Backend developer. </p>
        <p class="card-text">View my <b><a href="https://drive.google.com/open?id=1roJYX1PWxb40j-gQaMuPMwxNLeo54vFP" style="color:black">CV</a></b> </p>
        <p class="card-text">Visit my <b><a href="https://github.com/97saurabh" style="color:black">GitHub</a></b> account to view my work.</p>
        <p class="card-text">Connect via <b><a href="https://www.linkedin.com/in/saurabh-singh-ba5301158/" style="color:black">LinkdIn</a></b>.</p>
        <p class="card-text">Mail me at <u>saurabh12singh11@gmail.com</u></p>
        <p class="card-text">Call me at <u>9140872959</u></p>


      </div>
    </div>
  </div>
</div>





{% endblock %}
